Events Show Page
<br>

<h1><%= @event.name %></h1>
Here are the details for this event:

- bring booze

<hr>
<%= link_to "All Events", company_events_path(@company) %>
<%= link_to "All Companies", companies_path %>
